# compiled output
tmp
dist
.npm
*.tgz
build
node_modules
bower_components

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
fs_*
.DS_Store

# Tests
lib-cov
coverage
.nyc_output
test-reports

# Docs
doc/*
docs/*

# Env
.env*.local

# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace

# IDE - VSCode
.history
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock
.eslintcache
.yarn-integrity

# SSGs
.now/
.vercel/
.netlify/
.firebase/
.serverless/

# Gitkeep
!.gitkeep

# Local Netlify folder
.netlify

.vercel
